.app-brand {
  display: flex;
  align-items: center;
}

.app-logo {
  cursor: pointer;
}

.app-logo.pulse {
  animation: pulse 1500ms infinite;
}

.app-logo:hover {
  color: #ffc03e;
}

.app-nav {}

@keyframes pulse {
  50% {
    color: #ffc03e;
  }
}
