<mat-sidenav-container>

  <mat-sidenav mode="side" opened="true" disableClose="true">

    <app-hostnames-list [data]="items" [(selected)]="selectedHostnames"></app-hostnames-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>
      <span class="search-bar">
        <input
          class="search-input"
          placeholder="Type to filter.."
          (keyup.enter)="search($event.target.value)"
          (keyup.esc)="textFilter = ''"
          [(ngModel)]="textFilter"
        />
      </span>
    </mat-toolbar>

    <logs-table
      [data]="items | hostname: selectedHostnames"
      [filter]="textFilter"
      [selectable]="false"
      [autoScroll]="true">
    </logs-table>

  </mat-sidenav-content>

</mat-sidenav-container>
