<mat-sidenav-container>

  <mat-sidenav mode="side" opened="true" disableClose="true">

    <div class="search-filter">

      <mat-form-field floatLabel="never">
        <input matInput [(ngModel)]="textFilter" placeholder="Search something..">
      </mat-form-field>

      <button mat-icon-button (click)="textFilter = ''">
        <mat-icon>clear</mat-icon>
      </button>

    </div>

    <!-- unique hostnames -->
    <app-hostnames-list [data]="items" [(selected)]="selectedHostnames"></app-hostnames-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- results table -->
    <logs-table [data]="items | hostname: selectedHostnames" [filter]="textFilter" [autoScroll]="true"></logs-table>

  </mat-sidenav-content>

</mat-sidenav-container>
