.mat-drawer-container {
  height: calc(100% - 64px);
}

.mat-sidenav {
  background-color: #EEEEEE;
  min-width: 250px;
  padding: 10px;
  box-sizing: border-box;
}

.sidebar-title {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #9FA8DA;
  font-size: large;
}
