<mat-sidenav-container>

  <mat-sidenav mode="side" opened="true" disableClose="true">

    <!-- archive dates filter -->
    <div class="panel dates-filter">

      <div class="panel-title">
        <mat-icon>settings</mat-icon> Options
      </div>

      <div class="panel-content">

        <div class="start-date">
          <mat-form-field>
            <input matInput [(ngModel)]="startDate" [max]="today" [matDatepicker]="startpicker" (dateChange)="update()" placeholder="Start date">
            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
            <mat-datepicker #startpicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="end-date">
          <mat-form-field>
            <input matInput [(ngModel)]="endDate" [min]="startDate" [max]="today" [matDatepicker]="endpicker" (dateChange)="update()" placeholder="End date">
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
          </mat-form-field>
        </div>

      </div>

    </div>

    <!-- archive hostnames filter -->
    <app-hostnames-list class="panel" [data]="items" [(selected)]="selectedHostnames"></app-hostnames-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>
      <span class="search-bar">
        <input
          class="search-input"
          placeholder="Type to filter.."
          (keyup.enter)="search($event.target.value)"
          (keyup.esc)="textFilter = ''"
          [(ngModel)]="textFilter"
        />
      </span>

      <span class="selected-items" [hidden]="!selectedRows.length">
        <span>{{selectedRows.length}} entries selected</span>
        <button (click)="removeSelected()" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </mat-toolbar>

    <mat-paginator
      #paginator
      [length]="total"
      (page)="changePage($event)"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>

    <logs-table
      [data]="items | hostname: selectedHostnames"
      [filter]="textFilter"
      [selectable]="true"
      [(selected)]="selectedRows">
    </logs-table>

  </mat-sidenav-content>

</mat-sidenav-container>
