/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

app-root {
  height: 100%;
  width: 100%;
  display: block;
}

.mat-drawer-container {
  height: calc(100% - 64px);
}

.full-width {
  width: 100%;
}

[hidden] {
  display: none !important;
}
